@model WebApplication_firstMVC.ViewModels.MovieGenreViewModel

@{
    ViewData["Title"] = "Movie List";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New Movie</a> 
</p>

<form asp-asp-controller="Movies" asp-action="Index" method="get"> @*add "method" so that filter param are reflected in the URI*@
    <p>
        <b>Genre:</b>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value=""> </option>
        </select>

        &nbsp;
        <b>Search Title:</b> <input type="text" name="searchString" />
        &nbsp;&nbsp;<input type="submit" value="Filter" />
        &nbsp; <i>To Return All: Leave Empty</i>
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movies!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>    
                @Html.DisplayFor(modelItem => item.Language)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<br>
<center>
<h3>Seach For New Movies</h3>
    <form asp-controller="Movies" asp-action="SearchMovies">
        <table>
            <tr>Movie title:</tr>
            <tr><input type="text" id="title" name="title"</tr>
            &nbsp;&nbsp;
            <tr>Movie language</tr>
            <tr><input type="text" id="language" name="language"</tr>
            &nbsp;&nbsp;
            <tr>Movie Release Year (aproximate)</tr>
            <tr><input type="text" id="year" name="Year"</tr>

            <td><input type="submit" value="Submit" /></td>
        </table>
    </form>
</center>



<br>
<p style="text-align: center">
    <img src="https://open-stand.org/wp-content/uploads/2016/04/International-Union-of-Cinemas-Calls-for-Open-Standards-in-the-Cinema-Industry.jpg" alt="theater"
         width=25%; height=auto; />
</p>